<h1><%= @question.title.titleize %></h1>
<p><%= @question.body %></p>
<p>Views: <%= @question.view_count %></p>
<p>Created By: <%= @question.user.full_name if @question.user %></p>
<p>Tags: <%= @question.tags.map {|t| t.title.capitalize }.join(", ") %></p>
<% if @question.liked_by?(current_user) %>
  <%= link_to fa_icon("thumbs-up"),
              question_like_path(@question, @question.like_for(current_user)),
              method: :delete,
              class: "like-icon" %>
<% else %>
  <%= link_to fa_icon("thumbs-o-up"),
              question_likes_path(@question),
              method: :post,
              class: "like-icon" %>
<% end %>
(<%= @question.likes.count %>)


<%= image_tag @question.image.url(:medium) %>


<%= render "/questions/vote", question: @question %>


<% if can? :manage, @question %>
  <%= link_to "Edit", edit_question_path(@question) %>
  <%= link_to "Delete", question_path(@question),
                        method: :delete,
                        data:   {confirm: "Are you sure?"} %>
<% end %>
<%#= form_for @answer, url: question_answers_path(@question) do %>
<h2>Create an Answer</h2>
<%= @answer.errors.full_messages.join(", ") %>
<%= simple_form_for [@question, @answer] do |f| %>
  <%= f.input :body %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<h2>Answers</h2>

<div id= 'answers'>
  <% @question.new_first_answers.each do |ans| %>
    <%= render "/answers/answer", answer: ans %>
  <% end %>
</div>
