<h1><%= @question.title.titleize %></h1>
<p><%= @question.body %></p>
<p>view count: <%= @question.view_count %> </p>
<p>Created by: <%= @question.user.full_name if @question.user %> </p>
<%= link_to "Edit", edit_question_path(@question) %>
<%= link_to "Delete", question_path(@question),
                      method: :delete,
                      data:   {confirm: "Are you sure?"} %>

<%#= form_for @answer, url:question_answers_path(@question) do %>
<%= form_for [@question, @answer] do |f| %>
<%= @answer.errors.full_messages.join(',') %>

<div>
  <%= f.text_area :body %>
  <%= f.submit %>
</div>
<% end %>


<h2> ANswers </h2>
<% @question.new_first_answers.each do |ans| %>
  <%= ans.body %>
  <%= link_to "Delete", question_answer_path(@question, ans),
                        method: :delete,
                        data: {confirm: "are you sure?"}%>
                        <hr>
                        <% end %>



<% @question.new_first_answers.each do |ans|%>
  <%= ans.body %>
  <hr>


<% end %>
